.control-panel {
    width: 61% ;
    display: flex; 
    justify-content: flex-end;
}

.button-panel {
    width: 59%; 
    display: flex; 
    justify-content: flex;
    justify-content: flex-end;
}

.button-container {
    display: flex; 
    width: 67%; 
    padding: 15px; 
    justify-content: space-around;
 
}
.dropdown {
    width: 50%; 
    display: flex; 
    justify-content: flex-end;
}

.dropdown select {
    width: 100px;
    
}
.dropdown label {
     font-weight: 500; 
}

.button {
    padding: 2%; 
    width: 22%; 
    border-radius: 6px;
    border: none;
    margin-left: 4%; 
    font-weight: 600; 
    outline: 0;
}
.button.stop {
    background-color: yellow;
    color: rgb(71, 71, 71); 
}

 .button.stop:hover {
    color: rgb(71, 71, 71); 
    background-color: white;
    border: 1px solid yellow;
}

.button.start {
    background-color: rgb(7, 209, 7);
    color: white;
}
.button.start:hover {
    background-color: white;
    color: rgb(7, 209, 7);
    border: 1px solid rgb(7, 209, 7)
}

.button.clear {
    color: white; 
    background-color: rgb(80, 80, 80);
}
.button.clear:hover {
    background-color: white;
    color: rgb(71, 71, 71);
    border: 1px solid red; 
}

.button.random {
    background-color:dodgerblue;
    color:  white
}
.button.random:hover {
    background-color: white;
    color: rgb(38, 114, 230);
    border: 1px solid rgb(38, 114, 230);
}


.gen-box {
    width: 28%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}
.button-box {
    width: 50%; 
    display: flex; 
    justify-content: flex-start;
    overflow: 'auto'
}

label {
    font-size: 1rem;
    font-weight: 600;
    width: 50%; 
     
}
.input-box {
    display: flex; 
    justify-content: flex-end;
    width: 25%; 
}
.input-box input {
    width: 42px; 
}
