.button1 {
    width: 100%; 
    margin: auto; 
    margin-top: 2%; 
    display: flex; 
    justify-content: center;
}

.button-container {
    display: flex; 
    width: 60%; 
    padding: 15px; 
    
 
}

.button {
    padding: 1%; 
    width: 22%; 
    border-radius: 6px;
    border: none;
    margin-left: 4%;   
}
.gen-box {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}
.button-box {
    width: 30%; 
    display: flex; 
    justify-content: flex-start;
    overflow: 'auto'
}

label {
    font-size: 0.85rem;
    font-weight: 600;
    width: 100%; 
    margin-right: 1%; 
}
.input-box {
    display: flex; 
    justify-content: flex-start;
    width: 18%; 
}
.input-box input {
    width: 42px; 
}
