

.App {
  text-align: center;
  margin: 0 auto; 
}

.header {
  width: 50%; 
  display: flex; 
  justify-content: flex-end;
  
}

h1 {
  text-align: center;
  margin-top: 2%; 
  margin-bottom: 3%; 
  color: rgb(46, 46, 46)
}




